*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --Marineblue: hsl(213, 96%, 18%);
    --Purplishblue: hsl(243, 100%, 62%) ;
    --Pastelblue: hsl(228, 100%, 84%) ;
    --Lightblue: hsl(206, 94%, 87%) ;
    --Strawberryred: hsl(354, 84%, 57%) ;

   /*   Neutral */

    --Coolgray: hsl(231, 11%, 63%);
    --Lightgray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%) ;


    --primaryFont: 'Ubuntu';
    --b400:400;
    --b500:500;
    --b700:700;
}


body{
    font-family:var(--primaryFont);
    font-size: 16px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Magnolia);
}

.container {
    min-width:70% ;
    height:600px;
    background-color: var(--White);
    display: grid;
    grid-template-columns: 2fr 5fr ;
    gap: 10%;
    border-radius: 15px;
}

.Sidebar {
    margin:1rem;
    background-color: var(--Alabaster);
    background-image: url(images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    
}

 .steps {
    padding: 1em 1.5em;
   
}

.steps span {
    font-size: .8em;
    color: var(--Coolgray);
    font-weight: var(--b400);
}

.steps p {
    color: var(--White);
    font-weight: var(--b500);
}

#step-number {
    color: var(--White);
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 2px solid var(--Lightblue);
    font-weight: var(--b500);
    padding-top: 5px;
    border-radius: 50%;
   
}

.step-1-cont,
.step-2-cont,
.step-3-cont,
.step-4-cont {
    display: flex;
    align-items: center;
    gap: 15px;
}


/* overflow pages */




.right-content {
    width: 80%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.page-2{
    position: absolute;
    right: 0;
}

/* Active state */





.your-info{
    margin: 60px 60px;
   width: 550px;
    margin-left: 0;
    position: relative;
}

.heading h2{
    color: var(--Marineblue);
    font-size: 2em;
}

.heading p{
    margin-top: 10px;
    color: var(--Coolgray);
    font-size: 1em;
}

.form {
    margin: 30px 0;
}

.input-info .text-info {
    margin: 30px 0;
}

.input-info .text-info label {
    display: block;
    color: var(--Marineblue);
    font-weight: var(--b500);
}

.input-info .text-info input {
    padding: 15px 30px;
    font-size:18px ;
    color: var(--Marineblue);
    width: 550px;
    font-weight: var(--b700);
    border-radius: 10px;
    border: 2px solid;
    border-color:var(--Lightgray);
    outline: none;
}
.input-info .text-info input:focus{
    border-color:var(--Marineblue) ;
}


.input-info .text-info input::placeholder{
    font-weight: var(--b500);
}

.your-info .btn {
    display: inline-block;
    padding: 10px 40px;
    margin-top: 30px;
    position: absolute;
    right: 0;
    color: var(--Alabaster);
    font-weight: var(--b500);
    font-family: inherit;
    border: none;
    background-color: var(--Marineblue);
    border-radius: 5px;
}