*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --Marineblue: hsl(213, 96%, 18%);
    --Purplishblue: hsl(243, 100%, 62%) ;
    --Pastelblue: hsl(228, 100%, 84%) ;
    --Lightblue: hsl(206, 94%, 87%) ;
    --Strawberryred: hsl(354, 84%, 57%) ;

   /*   Neutral */

    --Coolgray: hsl(231, 11%, 63%);
    --Lightgray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%) ;


    --primaryFont: 'Ubuntu';
    --b400:400;
    --b500:500;
    --b700:700;
}


body{
    font-family:var(--primaryFont);
    font-size: 16px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Magnolia);
}

.container {
    min-width:70% ;
    height:600px;
    background-color: var(--White);
    display: grid;
    grid-template-columns: 2fr 5fr ;
    gap: 10%;
    border-radius: 15px;
}

.Sidebar {
    margin:1rem;
    background-color: var(--Alabaster);
    background-image: url(images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    
}

 .steps {
    padding: 1em 1.5em;
   
}

.steps span {
    font-size: .8em;
    font-weight: var(--b400);
}

.steps p {
    color: var(--White);
    font-weight: var(--b700);
}

/*  #step-number {
    color: var(--White);
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 2px solid var(--Lightblue);
    font-weight: var(--b500);
    padding-top: 5px;
    border-radius: 50%;
   
} */
 
.step-1-cont,
.step-2-cont,
.step-3-cont,
.step-4-cont {
    display: flex;
    align-items: center;
    gap: 15px;
}

.count{
    color: var(--White);
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 2px solid var(--Lightblue);
    font-weight: var(--b500);
    padding-top: 5px;
    border-radius: 50%;
    font-weight:var(--b700);
    font-size: 0.8em;
}

.active-state {
    background-color: var(--Lightblue);
    color: var(--Marineblue);
}

.steps-count {
    color: var(--Lightgray);
    font-weight:var(--b700);
}






.your-info{
    margin: 60px 60px;
     width: 550px;
    margin-left: 0;
    position: relative;
}

.heading h2{
    color: var(--Marineblue);
    font-size: 2em;
}

.heading p{
    margin-top: 10px;
    color: var(--Coolgray);
    font-size: 1em;
}

.form {
    margin: 30px 0;
}

.input-info .text-info {
    margin: 30px 0;
}

.input-info .text-info label {
    display: block;
    color: var(--Marineblue);
    font-weight: var(--b500);
}

.input-info .text-info input {
    padding: 15px 30px;
    font-size:18px ;
    color: var(--Marineblue);
    width: 550px;
    font-weight: var(--b700);
    border-radius: 10px;
    border: 2px solid;
    border-color:var(--Lightgray);
    outline: none;
}
.input-info .text-info input:focus{
    border-color:var(--Marineblue) ;
}


.input-info .text-info input::placeholder{
    font-weight: var(--b500);
}

.your-info .btn {
    display: inline-block;
    padding: 10px 40px;
    margin-top: 30px;
    position: absolute;
    right: 0;
    color: var(--Alabaster);
    font-weight: var(--b500);
    font-family: inherit;
    border: none;
    background-color: var(--Marineblue);
    border-radius: 5px;
}

.right-content {
    position: relative;
    width: 550px;
    overflow:hidden;
    transition: 0.5s;
}




/* page-2 */

/* .your-info {
    display: none;
}
 */

/*  #page-1{
    /* transition: 0.6s; 
 }  */
 


.page-2{
    position: absolute;
    top:60px;
    width: 550px;
    /* transition: 0.5s; */
   
 
}
.page-2 {
    right: -700px;
}
.page-3{
    position: absolute;
    top: 30px;
    width: 100%;
    right:-1200px ;
    /* transition: 0.6s; */
}
.page-4{
    position: absolute;
    top: 60px;
    right: -1900px;
    /* transition: 0.5s; */
}
.thank-you{
    position: absolute;
    top: 0;
    right: -600px;
   /*  transition: 0.8s; */
}

.grid-page-2 {
    margin:30px 0px ;
  display: flex;
  gap: 30px;

}

.items {
    width: 40%;
    margin-right: 5px;
    border: 2px solid var(--Lightgray);
    border-radius: 10px;
    padding: 20px;

}

.items img {
    margin-bottom: 30px;
}

.items h4 {
    color: var(--Marineblue);
    margin: 5px 0px;
}
.items p {
    color: var(--Coolgray);
    font-size: .9em;
    font-weight: var(--b500);

}

.items:hover {
    border-color:var(--Lightblue) ;
    background-color: var(--Alabaster);
}



.active{
    border-color:var(--Marineblue) ;
    background-color: var(--Alabaster);
}

.plan-btn {
    width: 100%;
    background-color: var(--Alabaster);
    height: 60px;
    padding: 20px 0;
    margin:40px  0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-btn p {
    
    font-size: 16px;
    font-weight:var(--b500);
    margin: 0px 10px;
}

.plan-btn label {
    width: 50px;
    height: 25px;
    margin: 0px 20px;
    background-color: var(--Marineblue);
    border-radius:50px;
    position: relative;
    transition: 0.3s;
}

.plan-btn label::before{
    content: "";
    position: absolute;
    width:15px;
    height: 15px;
    background-color: var(--White);
    border-radius: 50%;
    margin: 5px;
    transition:0.1s;
}

#check {
   opacity:0;
   width: 0;
}

.year {
    color: var(--Coolgray);
}

#extra-year-info-1,
#extra-year-info-2,
#extra-year-info-3{
    display: none;
}


input:checked + .plan-btn p {
    color: var(--Alabaster);
}

#check:checked + .button::before {
    transform: translateX(25px);
}

.page-2-buttons {
    display: flex;
    justify-content: space-between;
    margin: 90px 0px;
    margin-bottom: 0;
}

.page-2-buttons .prevbtn {
    
    font-size: 19px;
    border: none;
    background-color: transparent;
    color: var(--Coolgray);
    font-weight:var(--b700);
}

.page-2-buttons .prevbtn:hover {
    color: var(--Marineblue);
}


.page-2-buttons .nextbtn {
    padding: 10px 40px;
    /* font-size: 16px; */
    color: var(--White);
    background-color: var(--Marineblue);
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-weight: var(--b500);
}

.items span {
    margin: 3px 0px;
    font-size:.9em;
    font-weight: var(--b500)
}






/* page-3 */

.page-3{
    margin: 30px 0px;
    position: absolute;

}

.page-3 .features {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.page-3 .features .features-items {
    display: flex;
}

.features {
    margin-top: 25px;
    border: 2px solid var(--Lightgray);
    padding: 15px 25px;
    border-radius: 10px;
}

.features span {
    margin:5px 0;
    color: var(--Pastelblue);
    font-size:1em;
    font-weight: var(--b700);
}

.features-items input {
    width: 15px;
    font-size: 10px;
    padding: 10px;
}
.features-items input:checked + .features {
    background-color: var(--Pastelblue);
}

/* #checkbox-3:checked .features-item-3{
    
}*/


.features-item {
    background-color: var(--Magnolia);
    border-color: var(--Marineblue);
} 


.tag {
    margin-left: 25px;
}

.tag h3 {

    color: var(--Marineblue);

}
.tag p {
    color: var(--Coolgray);
    line-height:1.5;
}
.section {
    margin-bottom: 20px;
}
.page-3-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 70px ;
    font-size: 19px;
}

.prevbtn-3 {

    color: var(--Coolgray);
    border: none;
    font-size: 19px;
    font-weight: var(--b700);
    background-color: transparent;
}

.prevbtn-3:hover{
    color: var(--Marineblue);
}

.nextbtn-3 {
    padding: 10px 40px;
    border-radius: 5px;
    color: var(--White);
    /* font-size: 18px; */
    font-weight:var(--b500);
    font-family: inherit;
    background-color: var(--Marineblue);
}





/* page-4 */

.page-4{
    width: 100%;
}

.change{
    margin: 40px 0px;
    background-color: var(--Magnolia);
    border-radius: 10px;

}

.center-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;   
}

.center-content span {

    color: var(--Marineblue);
    font-size: 1.5em;
    font-weight: var(--b700);
}

.top a {
    color: var(--Coolgray);

}

.page3-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.page3-info {
    margin: 10px 0;
   padding: 0px 20px;
   
    
}

.mrgin-btm {
    padding-bottom: 30px;
}
.page3-info p {
    color: var(--Coolgray);
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total p {
    color: var(--Coolgray);
}

.total span{
    font-size: 1.5em;
    color: var(--Pastelblue);
    letter-spacing: 2px;
    font-weight: var(--b700);
}



.page-4-btns {

    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.prevbtn-4{
    background-color: transparent;
    border: none;
    font-size:18px ;
    color: var(--Coolgray);
    font-weight: var(--b700);
}

.prevbtn-4:hover{
    color: var(--Marineblue);
}

.confirm {
    padding: 10px 40px;
    background-color: var(--Purplishblue);
    border: none;
    /* font-size: 18px; */
    font-family: inherit;
    color: var(--White);
    border-radius: 5px;
    font-weight: var(--b500);
}

/* .page-4{
    display: none;
}
 */
/* thank -u */

.thank-you{
    width: 100%;
    margin: 200px 0;
    text-align: center;
}

.message h1 {
    margin: 10px 0;
    color: var(--Marineblue);
}

.message p {
    color: var(--Coolgray);
    word-spacing: 5px;
    padding: 0 25px;
    line-height: 1.5;
}

/* for js purpose */



.invalid::placeholder {
        color: red;
        font-weight: var(--b700);
}

/* #step-number {
    background-color: var(--Lightblue);
    color: var(--Marineblue);
} */

#step-number-1{
    background-color:var();
}
